keep_event_days = 5              # Keep iFOT event RDB files for this many days
timeout = 60                     # Timeout (seconds) for HTTP requests

# Define characteristics of web page
<web_page>
  title = Replan Central
  title_short = Replan Central
  table_caption_style = font-size:130%;font-weight:bold
  style = <<END_PAGE_STYLE
    <!--
      body { min-width:900px; background:url('blue_paper.gif');   }
      td {
	  padding-left: 0.3cm;
	  padding-right: 0.3cm;
      }
     -->
END_PAGE_STYLE
</web_page>

# Names of iFOT queries to get Chandra events
query_name = or_er
query_name = radmon
query_name = comm
query_name = maneuver
query_name = load_segment
query_name = safe
query_name = grating
query_name = sim
query_name = momentum_mon
query_name = sun_pos_mon
query_name = eclipse

# Names of iFOT queries that need to be retrieved at a time
# before an active SCS107 run.  This enables the originally
# planned events to still be visible (but grayed out, see
# scs107_disabled below).
<stop_at_scs107>
  or_er
  radmon
  maneuver
  load_segment
  grating
</stop_at_scs107>

# Names of files and dirs
<file>
  iFOT_events    = iFOT_events    # Data subdir for iFOT event files
  snap           = /data/mta4/www/Snapshot/chandra.snapshot
  snap_archive   = /data/mta4/www/Snapshot/snarc
  scs107_history = SCS107_history
  web_dir        = $ENV{SKA}/www/ASPECT/arc
  web_page       = index.html
  title_image    = title_image.png
  blue_paper	 = blue_paper.gif
  blue_paper_test= blue_paper_test.gif
  web_content     = web_content.dat
  web_content_cfg = web_content.cfg
  pcad_constraints = pcad_constraints
</file>

# OCC Web authorization.  This cfg file must be readable user only.
<authorization>
   <occweb>
      file = /proj/sot/ska/data/aspect_authorization/occweb-*
   </occweb>
</authorization>

# URL's that get queried
<url>
  mission_planning = http://occwww.cfa.harvard.edu/occweb/FOT/mission_planning
  todays_space_weather = http://sec.noaa.gov/today.html
  solar_wind   = http://umtof.umd.edu/pm
  mta_ace_img  = http://asc.harvard.edu/mta/mta_ace_plot.gif
  mta_goes_img = http://asc.harvard.edu/mta/RADIATION/pgplot.gif
  mta_ace      = http://asc.harvard.edu/mta/ace.html
  mta_goes     = http://asc.harvard.edu/mta/G11.html
  mta_snapshot = http://asc.harvard.edu/cgi-gen/mta/Snap/snap.cgi
  mta_soh      = http://asc.harvard.edu/cgi-gen/mta/SOH/soh.html
  sec_ace      = http://sec.noaa.gov/ace/ACErtsw_data.html
</url>

# Snapshotvalues to parse in format:
#  name  = <Full name> : <Preceding text> : <Following text>
<snap_definition>
  utc    = UTC           : UTC       : \(
  obt    = On Board Time : OBT 	     : CTUVCDU
  format = Format        : FMT 	     : CPEstat
  obsid  = Obsid         : OBSID     : EPState
  ra     = RA            : RA        : Bus V
  dec    = Dec           : Dec       : Bus I
  roll   = Roll          : Roll      : ACA Object
  hetg   = HETG angle    : HETG Angle: PCADMODE
  letg   = LETG angle    : LETG Angle: PCONTROL
  sim_z  = Sim Z         : SIM TTpos : HETG Angle
  sim_fa = Sim Focus     : SIM FApos : LETG Angle
  scs128 = SCS 128       : SCS 128   : \-Y SA
  scs129 = SCS 129       : SCS 129   : \+Y SA
  scs130 = SCS 130       : SCS 130   : \-Y SA
  scs107 = SCS 107       : SCS 107   : E1300
  E1300  = E1300         : E1300     : Pitch Mom
  P4GM   = P4GM          : P4GM      : Yaw Mom
  P41GM  = P41GM         : P41GM     : EPH temp
  cpe_stat = CPE Status  : CPEstat   : OBT
  radmon = RadMon        : RadMon    : HRMA power
  pcadmode = PCAD mode   : PCADMODE  : RA 
  pitch  =  Pitch        : SA Resolv : Batt 3 SOC
  fluence = Orbital Fluence : F_CRM : Kp
</snap_definition>

snap_format = <<END_FORMAT
obsid 	 | ra   | sim_z  | scs107
format 	 | dec  | sim_fa | scs128
radmon 	 | roll | hetg   | scs129
cpe_stat | pitch| letg   | scs130
END_FORMAT

<ephin_goes_table>
  format %.1f
  footnote_style = font-size:85%
  row E1300
  row P4GM
  row P41GM
  col EPHIN
  col GOES
  col Limit
</ephin_goes_table>
  
<ace_table>
  format %.1f
  footnote_style = font-size:85%
  row Current flux
  row 2hr avg flux
  row Orbital fluence
  col Value
  col 2hr limit
  col Orbital limit
  col Hours to<br>Orbital limit
</ace_table>
  
# Define characteristics of event table:
#  First set the types of events which get displayed, then the
#  columns and column format characteristics

<event_table>
  maneuver
  radmon_enab = yellow
  radmon_dis  = yellow
  er
  grating
  now = blue
  observation
  comm_pass   = green
  violation   = red
  scs107_cmd  = red
  scs107_auto = red
  scs107_det  = red
  load_segment = light_blue
  eclipse = orange
#
# Define columns for event table
#
  col date_start
  col summary
  col delta_date
  col local_date
#
# Formatting for event table columns
#
  <date_start>
    align = right
    format_pre  = <tt>
    format_post = </tt>
  </date_start>
  <delta_date>
    align = right
    format_pre = <tt>
    format_post = </tt>
  </delta_date>
  <local_date>
    align = right
    format_pre = <tt>
    format_post = </tt>
  </local_date>
#
# Hours before and after NOW to display in event table
#
  <display_range>
    hours_pre = 12
    hours_post = 72
  </display_range>
#
# Event types that do get greyed out if they occur after (still active) SCS107 run
#
  <scs107_disabled>
    maneuver
    er
    observation
    radmon_enab
    radmon_dis
    grating
  </scs107_disabled>
</event_table>

<color>
 yellow = FFFF99
 green  = 99FF99
 red    = FF9999
 orange = FF9966
 blue   = 9999FF
 light_blue = BBBBFF
 event_disabled  = 666666
</color>

# Pieces of java script for refresh function
<web_refresh>
NoScript = <<END_SCRIPT
<!--
    We have the "refresh" meta-tag in case the user's browser does
    not correctly support JavaScript or has JavaScript disabled.

    Notice that this is nested within a "noscript" block.
-->
<meta http-equiv="refresh" content="120">
END_SCRIPT
#
JavaScript = <<END_SCRIPT
<!--

var sURL = unescape(window.location.pathname);

function doLoad()
{
    // the timeout value should be the same as in the "refresh" meta-tag
    setTimeout( "refresh()", 120*1000 );
}

function refresh()
{
    //  This version of the refresh function will cause a new
    //  entry in the visitor's history.  It is provided for
    //  those browsers that only support JavaScript 1.0.
    //
    window.location.href = sURL;
}
//-->
END_SCRIPT
#
JavaScript11 = <<END_SCRIPT
<!--
function refresh()
{
    //  This version does NOT cause an entry in the browser's
    //  page view history.  Most browsers will always retrieve
    //  the document from the web-server whether it is already
    //  in the browsers page-cache or not.
    //  
    window.location.replace( sURL );
}
//-->
END_SCRIPT
#
JavaScript12 = <<END_SCRIPT
<!--
function refresh()
{
    //  This version of the refresh function will be invoked
    //  for browsers that support JavaScript version 1.2
    //
    
    //  The argument to the location.reload function determines
    //  if the browser should retrieve the document from the
    //  web-server.  In our example all we need to do is cause
    //  the JavaScript block in the document body to be
    //  re-evaluated.  If we needed to pull the document from
    //  the web-server again (such as where the document contents
    //  change dynamically) we would pass the argument as 'true'.
    //  
    window.location.reload( false );
}
//-->
END_SCRIPT
#
ShowTime = <<END_SCRIPT
<!--
    // we put this here so we can see something change
    document.write('<b>' + (new Date).toLocaleString() + '</b>');
//-->
END_SCRIPT
#
</web_refresh>
